version: '3.8'
services:
  db:
    image: mysql
    container_name: MySQLContainer
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
  
